/* =========== BASE STYLES ===========*/
/* base screen size is iphone S5/Google Pixel*/
html {
  font-size: 15px; /* 18 px = 1em minor third*/
  line-height: 21.6px;
  background-image: url("../images/skyline.jpg");
}

h1 {
  text-align: center;
  font-size: 25.92px;
}

h2 {
  font-size: 18px;
}

ul,
li {
  list-style-type: none;
}

footer {
  padding-top: 50%;
  color: white;
}

legend {
  margin-top: .5em;
  font-style: italic;
  text-decoration: underline;
}

.form-fields label,
.form-fields input {
  display: block;
  box-sizing: border-box;
  width: 65%;
}

.signup {
  width: 100%;
  margin-left: ;
}

.ckbox label,
.ckbox input {
  display: inline;
}

 .signup p {

}

#fieldset {
  background-color: #CBCFDB;
}

#submit {
  padding: 0.625em;
  width: 9.375em;
  margin-top: 5%;
  margin-left: 20%;
  font-size: 18px;
  text-align: center;
}

/* =========== LAYOUT STYLES ========*/


/* =========== INTERACTIONS ========*/

/* =========== DECORATIONS =========*/
fieldset {
  border: black solid;
  background-color: ;
  border-radius: 1em;
}

#submit {
  color: #000000;
  background-color: #FFD700;
  border-color: black;
  border-radius: 5%;
  border-style: solid;
  font-weight: bolder;
}

.signup-desc p{
  color: #FFFFFF;
}
/* =========== OTHER SCREEN SIZES ======*/
@media screen and (min-width: 1000px)
{

#main {
  min-height: 800px;
       margin: 0px;
       padding: 0px;
       display: flex;
       flex-flow: row;
}
#main > .signup-desc {
  margin: 4px;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 250px;
      border-radius: 7pt;
      flex: 3 1 60%;
      order: 1;
  }

  #main > .signup {
      margin: 4px;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 250px;
      flex: 1 6 20%;
      order: 2;
  }

  .signup {
    width: 30em;
}

@media screen and (min-width:)
{

}
