/* =========== BASE STYLES ===========*/
/* base screen size is iphone S5/Google Pixel*/
html {
  background-color: #CBCFDB;
  font-size: 18px;
}

ul,
li {
  list-style-type: none;
}

footer {
  padding-top: 50%;
}

.form-fields label,
.form-fields input {
  display: block;
  background-color: yellow;
  box-sizing: border-box;
  width: 50%
}

#submit {
    font-size: 20px;
}

h1 {
  text-align: center;
  font-size: 31.104px;
}

.ckbox label,
.ckbox input {
  display: inline;
}

 .signup p {
  background-color: blue;
}

/* =========== LAYOUT STYLES ========*/


/* =========== INTERACTIONS ========*/
.hasjs input[type="submit"] {
  position: absolute;
  left: -100000px;
}

.hasjs input[type="submit"].active {
  position: static;
}


/* =========== DECORATIONS =========*/
fieldset {
  border: #af3333 solid;
  border-radius: 1em;
}

#submit {
  color: #FFFFFF;
  background-color: #93C757;
}


/* =========== OTHER SCREEN SIZES ======*/
